h1{color:#F0E68C;}
p{color:#FFFFFF;}
body{background-color: #800000;}
p{font-family: helvetica;}
h1{text-align: center;}
p{border-image: 50%}
img src="index.html" allign=center </img>
img{border: 50pt, border-color:#39ff14;}